mixin plate(img,title,price,pricetwo,ingredients)
    .plate
        .plate__img
            .plate__logo
                img(src="media/steakhouse.png", alt="Logo SteakHouse")
            picture.plate__cont__picture
                img.plate__picture(srcset=img, alt=title)
        .container
            .plate__body
                h2.plate__title!= title
                p.plate__price #{price}
                p.plate__price #{pricetwo}
                p.plate__text #{ingredients}
        .plate__sponsor
            img(alt="Sponsor", srcset="media/"+sponsors[Math.floor(Math.random()*(5-0))+0].img+".svg")